{% if not page.is_homepage %} 
<header class="md-header md-header-sub" data-md-component="header">
{% else %}
<header class="md-header md-header-home" data-md-component="header">
{% endif %}
    <nav class="md-header-nav md-grid">
      <div id="beta-banner">
        <a href="{{ base_url }}/beta"><img src="{{ base_url }}/images/beta.png" width="150px"></a>
      </div>
      <div class="md-flex">
        <div class="md-flex__cell md-flex__cell--shrink">
          <a href="{{ config.site_url | default(nav.homepage.url, true) | url}}"
              title="{{ config.site_name }}"
              class="md-header-nav__button md-logo">
              <img src="{{ base_url }}/{{ config.theme.logo }}"
                  width="24" height="24" />
          </a>
        </div>
  
        <div class="md-flex__cell md-flex__cell--shrink">
          <label class="md-icon md-icon--menu md-header-nav__button"
              for="__drawer"></label>
        </div>
  
        <div class="md-flex__cell md-flex__cell--stretch">
          <div class="md-flex__ellipsis md-header-nav__title"
              data-md-component="title">
            {% block site_name %}
              {% if config.site_name == page.title %}
                {{ config.site_name }}
              {% else %}
                <span class="md-header-nav__topic">
                </span>
                <span class="md-header-nav__topic">
                    {{ page.title }}
                </span>
              {% endif %}
            {% endblock %}
          </div>
        </div>       
        <div class="md-flex__cell md-flex__cell--shrink">
          {% block search_box %}
            {% if "search" in config["plugins"] %}
              <label class="md-icon md-icon--search md-header-nav__button"
                  for="__search"></label>
              {% include "partials/search.html" %}
            {% endif %}
          {% endblock %}        
        </div>
      </div>
      <div class="md-flex">
        <div class="md-flex__cell md-flex__cell--stretch">
          <br><br>
            {% include "partials/tabs.html" %}
            <div class="get-started-buttons">
                <p><a href="./downloads/" class="marketing-text-button">Downloads</a></p><br><br>
                  <p><a href="./get-started/" class="marketing-text-button">Get Started</a></p> 
              </div>
        </div>
      </div>
      {% if page.is_homepage %} 
      <div class="md-flex md-flex-homepage">
          <div class="md-flex__cell md-flex__cell--shrink">
            <div class="md-header-info">
                <h2>Welcome to <br> Qlik Core</h2>
                Build custom, reactive data-driven applications<br> 
                and visualizations with this development platform <br>
                built on the Qlik Associative Engine.                 
              </div>
                                         
            
          </div>    
          <div class="md-flex__cell md-flex__cell--shrink">
            
          </div>
      </div>
      {% endif %}
    </nav>
  </header>
  