<header class="md-header md-header-home" data-md-component="header">
    <nav class="md-header-nav md-grid">
      <div class="md-flex">
        <div class="md-flex__cell md-flex__cell--shrink">
          <a href="{{ config.site_url | default(nav.homepage.url, true) | url}}"
              title="{{ config.site_name }}"
              class="md-header-nav__button md-logo">
              <img src="{{ base_url }}/{{ config.theme.logo }}"
                  width="24" height="24" />
          </a>
        </div>
  
        <div class="md-flex__cell md-flex__cell--shrink">
          <label class="md-icon md-icon--menu md-header-nav__button"
              for="__drawer"></label>
        </div>
  
        <div class="md-flex__cell md-flex__cell--shrink">
            <a href="{{ config.site_url | default(nav.homepage.url, true) | url}}"
                title="{{ config.site_name }}"
                class="md-header-nav__button md-logo-mobile">
                <img src="{{ base_url }}/{{ config.theme.logo }}"
                    width="24" height="24" />
            </a>
        </div>

        <div class="md-flex__cell md-flex__cell--stretch">
          <div class="md-flex__ellipsis md-header-nav__title"
              data-md-component="title">
            {% block site_name %}
              {% if config.site_name == page.title %}
                {{ config.site_name }}
              {% else %}
                <span class="md-header-nav__topic">
                </span>
                <span class="md-header-nav__topic">
                    {{ page.title }}
                </span>
              {% endif %}
            {% endblock %}
          </div>
        </div>       
        <div class="md-flex__cell md-flex__cell--shrink">
          {% block search_box %}
            {% if "search" in config["plugins"] %}
              <label class="md-icon md-icon--search md-header-nav__button"
                  for="__search"></label>
              {% include "partials/search.html" %}
            {% endif %}
          {% endblock %}        
        </div>
      </div>
      <div class="md-flex">
        <div class="md-flex__cell md-flex__cell--stretch">
          <br>
            {% include "partials/tabs.html" %}
        </div>
      </div>
    </div>
  </nav>
  </header>
  {% if page.is_homepage %} 
  <header class="md-header-hero">
          <nav class="md-header-nav md-grid">
      <div class="md-flex md-flex-homepage">
          <div class="md-flex__cell md-flex__cell--shrink">
            <div class="md-header-info">
                <h2>Meet <br> Qlik Core<sup>&reg;</sup></h2>
                Build custom, reactive data-driven applications<br> 
                and visualizations with this development platform <br>
                built on the Qlik Associative Engine.         
            </div>
            <a href="licensing/">
              <div class="md-header-button">Try for Free</div>
            </a>
            <a href="get-started/">
              <div class="md-header-button">Start Tutorials</div>
            </a>                             
            
          </div>   
          </div>
      </div>
      {% endif %}
    </nav>
  </header>
  {% if page.is_homepage %}
  <style>
    .md-content, .md-header-nav__title {
      display: none !important;
    }

    .md-main__inner {
      height: 1px;
    }

    .md-container {
      height: initial;
    }

    @media (min-width: 76.1875em) {
      .md-sidebar {
        display: none !important;
      }
    }
  </style>
  <header class="header-intro">
    <nav class="md-header-nav md-grid">
      <div class="md-flex">
        <div class="md-flex__cell md-flex__cell--stretch head-home">
          <h1>HELLO</h1>
          <p>With Qlik Core, you can take advantage of Qlik's powerful associative engine to build, 
          extend and quickly deploy custom interactive data-driven solutions that are highly scalable and cloud-ready.
          And built for Linux and running in a Docker container, Qlik Core applications can easily be embedded into any stack, 
          IoT device, process, application, web page, portal, Star Wars visualization – you name it.  </p>
        </div>
      </div>
    </nav>
  </header>
  <header class="header-cards">
    <nav class="md-header-nav md-grid">
      <div class="md-row md-info-icons">
        <a href="why-qlik-core/">
          <div class="md-column cards">
            <h1>WHY QLIK CORE?</h1>
            Build, extend and deploy fast, interactive data-driven applications delivered at massive scale within any
            cloud environment.
          </div>
        </a>
        <a href="downloads/">
          <div class="md-column cards">
            <h1>DOWNLOADS</h1>
            Qlik Core consists of a core set of supported components, including the Qlik Associative Engine, 
            all available at your fingertips.​
          </div>
        </a>
        <a href="updates/2018-12/">
          <div class="md-column cards">
            <h1>UPDATES</h1>
            Monthly updates so you know what’s new with Qlik Core.
          </div>
        </a>
        <a href="use-cases/">
          <div class="md-column cards">
            <h1>USE CASES</h1>
            These provide inspiration, show how data analytics challenges can be addressed and explain how to 
            use Qlik Core with different platforms.​
          </div>
        </a>
        <a href="tooling/overview/">
          <div class="md-column cards">
            <h1>TOOLING</h1>
            These have one sole purpose – improve your Qlik Core experience.
          </div>
        </a>
        <a href="services/qix-engine/introduction/">
          <div class="md-column cards">
            <h1>SERVICES</h1>
            Information and API documentation for the Qlik Associative Engine and all other services
            that are part of Qlik Core.
          </div>
        </a>
      </div>
    </nav>
  </header>

  <header style="background-color:#fff; padding-top:50px;padding-bottom:50px;">
    <nav class="md-header-nav md-grid">
      <div class="md-row md-info-icons">
        <div class="md-column md-column-icons">
          <img class="md-info-icon" src="{{ base_url }}/images/Icon_Global_Services_green.png" alt="Open Source">
          <h3>OPEN SOURCE</h3>
          We believe in open source! We encourage you to explore the different git repositories, star your favorites,
          file issues and send pull requests. Find us on GitHub <a href="https://github.com/qlik-oss">here</a>.
        </div>
        <div class="md-column md-column-icons">
          <img class="md-info-icon" src="{{ base_url }}/images/Icon_Repository_Service_green.png" alt="Containers">
          <h3>CONTAINERS</h3>
          Powerful technologies, for example Kubernetes, enables container orchestration and elastic scaling of
          multiple Qlik Associative Engine instances in distributed environments.
        </div>
        <div class="md-column md-column-icons">
          <img class="md-info-icon" src="{{ base_url }}/images/Icon_Information_green.png" alt="NOOBs">
          <h3>BEGINNERS</h3>
          If you are new to Qlik Core, we recommend you begin with the
          <a href="https://core.qlik.com/get-started/">Get Started</a> section and join
          <a href="https://developer.qlik.com/">Qlik Branch</a>, our developer squad. It’s free and includes access to
          a community <a href="https://qlikbranch-slack-invite.herokuapp.com/">Slack</a>.
        </div>
        <div class="md-column md-column-icons">
          <img class="md-info-icon" src="{{ base_url }}/images/Icon_Megaphone_green.png" alt="Feedback">
          <h3>FEEDBACK</h3>
          If you have questions or feedback, use <a href="https://qlikbranch-slack-invite.herokuapp.com/">Qlik Branch
            Slack's</a> #qlik-core channel. We love hearing your feedback, use cases and what we can to do make it
          better
        </div>
      </div>
      </div>
    </nav>
  </header>
  {% endif %}
  