{% set title = title | default(nav_item.title) %}
  <li class="md-tabs__item">
    {% if nav_item.active %}
      {% if nav_item.children and nav_item.children | length > 0 %}
        <a href="{{ (nav_item.children | first).url }}"
            title="{{ title }}" class="md-tabs__link md-tabs__link--active">
            {{ title }}
          </a>
        {% else %}
          <a href="{{ nav_item.url }}"
          title="{{ title }}" class="md-tabs__link md-tabs__link--active">
          {{ title }}
        </a>
        {% endif %}
    {% else %}
      {% if nav_item.children and nav_item.children | length > 0 %}
      <a href="{{ (nav_item.children | first).url }}"
          title="{{ title }}" class="md-tabs__link">
          {{ title }}
        </a>
      {% else %}
          <a href="{{ nav_item.url }}"
          title="{{ title }}" class="md-tabs__link">
          {{ title }}
        </a>
      {% endif %}
    {% endif %}
  </li>
