{% extends "base.html" %}

{% block content %}

{% if page.is_homepage %}
<style>.md-sidebar--primary { z-index: 1000; } @media screen and (min-width: 76.1875em) {.md-sidebar--primary { z-index: -1; }}</style>
{% endif %}
<!-- Edit button, if URL was defined -->
{% if page.edit_url and not page.is_homepage %}
<a href="{{ page.edit_url }}"
    title="{{ lang.t('edit.link.title') }}"
    class="md-icon md-content__icon">&#xE3C9;<!-- edit --></a>
{% endif %}

<!--
  Hack: check whether the content contains a h1 headline. If it
  doesn't, the page title (or respectively site name) is used
  as the main headline.
-->
{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | default(config.site_name, true)}}</h1>
{% endif %}

<!-- Cookie consent popup using https://github.com/insites/cookieconsent -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#5f6062",
          "text": "#d6d6d6"
        },
        "button": {
          "background": "#3D8706"
        }
      },
      "theme": "classic",
      "content": {
        "href": "https://www.qlik.com/us/legal/cookies-and-privacy-policy"
      }
    })
  });
</script>

<!-- Setting id of start page to modify content (in extra.js) -->
{% if page.is_homepage %}
  <div id="marketing-page">
    <!-- Content -->
    {{ page.content }}
  </div>
{% elif page.title == "Beta" %}
  <div id="beta">
    <!-- Content -->
    {{ page.content }}
  </div>
{% else %}
  <!-- Content -->
  {{ page.content }}
{% endif %}

{% endblock %}
