.md-header, .md-footer {
  background: #5f6062;
  border-bottom: 3px solid #6eb43f;
}

.md-tabs, .md-footer-nav {
  background: #5f6062;
}

.md-footer-nav {
  display: none;
}

.md-typeset {
  font-size: 16px;
}

.md-nav__link:focus, .md-nav__link:hover, .md-typeset a:active, .md-typeset a:hover, .md-nav__link--active,
.md-typeset h2[id] .headerlink:focus, .md-typeset h2[id]:hover .headerlink:hover, .md-typeset h2[id]:target .headerlink,
.md-typeset h3[id] .headerlink:focus, .md-typeset h3[id]:hover .headerlink:hover, .md-typeset h3[id]:target .headerlink,
.md-typeset h4[id] .headerlink:focus, .md-typeset h4[id]:hover .headerlink:hover, .md-typeset h4[id]:target .headerlink {
  color: #f8981d;
  font-weight: bold;
}

.md-header-nav__topic {
  font-weight: 100;
}

.md-flex__cell--shrink:first-child {
  vertical-align: middle;
}

.md-logo {
  padding: 0;
  margin: 0;
}

.md-logo img {
  height: auto;
  width: 200px;
}

.md-main__inner {
  padding: 0;
}

.md-content {
  height: 100%;
}

.md-content__inner {
  margin-bottom: 0;
  padding: 20px 0 40px 0;
}

.md-sidebar {
  padding: 33px 0 20px 0;
}

.md-sidebar__scrollwrap {
  margin: 0;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background: #f8981d;
}

.md-sidebar--secondary .md-nav__title {
  padding-bottom: 10px;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.08);
}

.md-nav--secondary {
  border-left: 3px solid #f8981d;
}

.md-sidebar--secondary .md-nav__item {
  padding: 0;
}

.md-sidebar--secondary .md-nav__link {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.05);
  margin: 0;
  padding: 7px 14px 7px 20px;
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__link {
  background: none;
  color: rgba(0, 0, 0, .77);
  padding: 8px 14px 8px 40px;
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__link:hover {
  color: #f8981d;
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__link {
  padding-left: 60px;
}

.md-nav__link[data-md-state=blur] {
  color: rgba(0, 0, 0, .87);
}

.md-nav__link[data-md-state=blur]:hover {
  color: #f8981d;
}

.hidden {
  visibility: hidden;
}

.md-tabs {
  text-align: right;
  height: 45px;
  overflow: hidden;
}

.md-footer-copyright ul {
  list-style: none;
  margin-left: 0;
}

.md-footer-copyright {
  overflow: auto;
  max-width: 100%;
  float: none;
  margin: 0 21rem;
}

.md-footer-copyright ul li {
  margin-left: 0;
}

.md-footer-link-list {
  padding-right: 1em;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #5f6062;
  }

  html .md-nav--primary .md-nav__title--site .md-nav__button {
    width: 13.4rem;
  }
}

@media only screen and (max-width: 59.9375em) {
  .md-nav__source {
    background: linear-gradient(to right, #6cb33f 0%, #3a7391 100%);
  }
}

.md-tabs__list {
  margin-right: 10rem;
}

.md-search__input {
  background-color: #5f6062;
}

@media only screen and (max-width: 59.9375em) {
  [data-md-toggle=search]:checked~.md-header .md-search__input {
    background-color: white;
  }
}
.marketing-page-main-content {
  width: 103.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(-50vw + 48%);
}

#marketing-page {
  margin-top: -33px;
  margin-bottom: -56px;
}

.md-footer-social a, .md-footer-social a:hover {
  font-size: 24px;
  text-decoration: none;
}

.md-footer-legal {
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.md-footer-legal-text {
  width: 80%;
  float: left;
  padding-top: 13px;
}

.md-footer-legal-social {
  width: 20%;
  float: right;
}

@media only screen and (min-width: 45em) {
  .md-footer-social, .md-footer-social {
    padding: 0;
    margin-top: -3px;
  }
}

.marketing-header {
  font-family: Arial;
  font-weight: 600;
  padding: 60px 0 0;
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.marketing-background {
  background-image:URL('../images/QlikBranch_headerImage.jpg');
}
.marketing-text {
  padding: 30px;
  width: 50%;
}

.marketing-header h1 {
  color: white;
}
