:root {
  --custom-orange: #FFC72A;
  --custom-grey: #424346;
  --custom-green: #009845;
  --custom-dark-green: #006937;
}

.underline {
  text-decoration: underline;
}

.md-header sup {
  font-size:25px;
  vertical-align: super;
}

.md-container {
  padding-top: 0.2rem;
}

.fa-code-fork::before{
  content:"" !important;
  background-image:url('/images/Icon_Qlik_Branch.png');
  width: 55px;
  height: 55px;
  display: inline-block;
  background-position:center;
  background-size:cover;
  margin-bottom: -3px;
}

.md-flex-homepage {
  width: 100%;
}

.md-flex-header-buttons {
  width: 200px;
  vertical-align: middle;
  padding-right: 25px;
}

.md-info-icons {
  margin: 0 auto;
}

.md-info-icon{
  width: 100px;
}

.md-column-icons {
  color: rgba(0,0,0,.87);  
  float: left;
  font-size: 0.8rem;
  text-align: center;
  padding: 30px;
  width: calc(25% - (34px / 3.04));
}

.md-column-icons a {
  color: var(--custom-green);
}

.md-column-icons a:hover {
  color: var(--custom-dark-green);
  text-decoration: underline;
}

.header-intro, .header-cards {
  background-color:#F4F5F7;
  padding-top:20px;
}

.header-cards {
  padding-bottom: 50px;
}

.head-home {
  font-size: 20px;
}

.cards {
  padding: 30px;
  font-size: 18px;
  border: 1px;
  border-style: solid;
  border-color: var(--custom-green);;
  min-height: 300px;
  margin-right: 15px;
  margin-top: 15px;
  box-shadow: 0 8px 4px -4px #bbb;
  background-color: #fdfdfd;
  transition: 0.3s;
  color: rgba(0,0,0,.87);
  float: left;
  width: calc(33% - (34px / 3.04));
  min-width: 333px;
  max-width: calc(100%-30px);
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #f2f2f2;
}

.md-row:after {
  clear: both;
  content: "";
  display: table;
}

.md-header-info h2 {
  font-size: 70px;
  color:#fff;
  line-height:  normal;
}

.md-header-info {
  letter-spacing: 3px;
  font-size:24px;
  line-height: 35px;
  color:#fff;
  font-weight: 400;
  text-shadow: 2px 2px 4px #000;
}

.md-header-button {
  width: 300px;
  float: left;
  margin-right: 48px;
  margin-top: 60px;
  padding: 10px;
  border: 2px solid white;
  border-color: white;
  border-radius: 0.2rem;
  font-size: 24px;
  line-height: 35px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background-color: rgba(255,255,255,.1);
}

.md-header-button:hover {
  background-color: rgba(248,152,29,.1);
  border-color: var(--custom-green);
}

.md-inside-button {
  width: 200px;
  float: left;
  margin-right: 48px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid var(--custom-green);
  border-color: var(--custom-green);
  border-radius: 0.2rem;
  font-size: 18px;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
  background-color: var(--custom-green);
  color: #fff;
  transition: 0.3s;
}

.md-inside-button:hover {
  background-color:var(--custom-dark-green);
  border-color: var(--custom-dark-green);
}

.md-header {
  position: relative;
}

.md-logo-mobile {
  display: none;
}

.md-header-home {
  background-color: #FFF;
}

.md-header-hero {
  padding-left: 16px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2D4A59;
  background-image: url("../images/marketing-background.jpg");
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.md-search__input::placeholder {
  color: #444;
}

@media only screen and (min-width: 730px) and (max-width: 76.1875em) {
  .md-header-hero {
    height: 600px;
  }
}

@media only screen and (min-width: 0) and (max-width: 730px) {
  .md-header-hero {
    height: 280px;
    overflow: hidden;
  }
}

@media (max-width: 76.1875em) {
  .md-header {
    color: #444;
  }

  .md-search {
    padding-right: 0.4rem;
  }

  .md-logo img {
    height: auto;
    width: 200px;
  }

  .md-logo-mobile {
    display: block;
  }

  .md-logo-mobile img {
    height: auto;
    width: 100px;
  }

  .md-column-icons {
    min-width: 333px;
  }

  .footer-nav {
    display: none !important;
  }
  .get-started-buttons {
    display: none;
  }

  .header-intro, .header-cards {
    padding-left: 18px;
  }
}

.md-typeset table:not([class]) th {
  background-color: #e1e1e1;
  color: rgba(0,0,0,.87);
  vertical-align: bottom;
}

@media (min-width: 76.1875em) {
  .md-header-home {
    height: 120px;
  }

  .md-search {
    padding: 0.4rem;
    padding-top: 1rem;
  }

  .md-column-icons {
    min-width: 250px;
  }

  .get-started-buttons {
    position: absolute;
    right: 0px;
    top: 200px;
    text-align: right;
  }

  .md-tabs {
    color: #444;
  }

  .md-header-hero {
    height: 600px;
  }

  .md-logo img {
    height: auto;
    width: 300px;
    position: absolute;
  }
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.md-sidebar[data-md-state=lock] {
  top: 0.5rem;
}

.md-sidebar[data-md-state=lock] {
  bottom: 3rem;
}

.md-tabs {
  background-color:rgba(0, 0, 0, 0.0) !important;
}

.md-footer-meta {
  background-color: #e1e1e1;
  color: #626669;
}

.md-footer-last {
  background-color: #424346;
  color: #e1e1e1;
}

.md-footer-nav {
  display: none;
}

.md-typeset a {
  color: var(--custom-green);
  text-decoration: underline;
}

h1 span {
  color: var(--custom-orange);
  font-weight: 600;
}

.md-content h1 {
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: 400;
}

.md-nav__link:focus, .md-nav__link:hover, .md-nav__link--active,
.md-typeset h2[id] .headerlink:focus, .md-typeset h2[id]:hover .headerlink:hover, .md-typeset h2[id]:target .headerlink,
.md-typeset h3[id] .headerlink:focus, .md-typeset h3[id]:hover .headerlink:hover, .md-typeset h3[id]:target .headerlink,
.md-typeset h4[id] .headerlink:focus, .md-typeset h4[id]:hover .headerlink:hover, .md-typeset h4[id]:target .headerlink {
  color: var(--custom-green);
  text-decoration: underline;
}

.md-tabs__link {
  position: relative;
  display: inline-block;
  margin: 0px 5px;
  color: #444;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
  opacity: 1;
  font-size: 0.8rem;
}

.md-tabs__link:focus {
  text-decoration: underline;
  opacity: 1;
}
.md-tabs__link:hover, .md-tabs__link:focus, .md-tabs__link--active {
  text-decoration: none;
  border-bottom: 3px solid var(--custom-green);
}

.md-header-nav__topic {
  font-weight: 100;
  max-width: 30%;
}

.md-flex__cell--shrink:first-child {
  vertical-align: middle;
}

.md-nav {
  font-size: 0.8rem;
}

.md-logo {
  padding: 10px;
  margin: 0;
}

.md-content {
  height: 100%;
}

.md-content__inner {
  margin-bottom: 0;
  padding: 20px 0 40px 0;
}

.md-icon.md-content__icon {
  text-decoration: none;
}

.md-sidebar {
  padding: 43px 0 20px 0;
  min-height: 450px;
}

.md-main__inner {
  min-height: 650px;
}

.md-sidebar__scrollwrap {
  margin: 0;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background: var(--custom-green);
}

.md-nav__title {
  margin-top: .625em;
}

.md-sidebar--secondary .md-nav__title {
  margin-bottom: 10px;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.08);
  text-transform: uppercase;
}

.md-sidebar--secondary .md-nav__item {
  padding: 0;
}

/* Hide EULA/Third Party Licenses nav items in full size menu */
.md-nav__item a[title="EULA"],
.md-nav__item a[title="Third Party Licenses"],
.md-nav__item a[title="License Registration"]
 {
  display: none;
}

/* Show the EULA nav item in hamburger menu */
@media only screen and (max-width: 76.1875em) {
  .md-nav__item a[title="EULA"] {
    display: block;
  }
}

.md-sidebar--secondary .md-nav__link {
  margin: 0;
  padding: 4px 14px 4px 20px;
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__link {
  background: none;
  padding: 4px 14px 4px 40px;
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__link:hover {
  color: var(--custom-green);
}

.md-sidebar--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__link {
  padding-left: 60px;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 76.1875em) {
  .md-nav--primary {
    visibility: unset;
  }
  html .md-nav--primary .md-nav__title {
    height: unset;
  }
}

.md-tabs__list {
  margin-top: 10px;
}

.md-tabs {
  text-align: right;
  overflow: hidden;
}

.md-footer-copyright ul {
  list-style: none;
  margin-left: 0;
}

.md-footer-copyright {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 10%;
  color: hsla(0,0%,100%,.5);
}

.md-footer-copyright ul li {
  margin-left: 0;
  margin-bottom: 0.3em;
}

.md-footer-copyright .md-footer-link-header {
  color: hsla(0,0%,100%,.55);
  font-weight: 700;
}

@media only screen and (min-width: 45em) {
  .md-footer-copyright {
      max-width: 80%;
  }
}

.md-footer-meta__inner {
  overflow-x: hidden;
}

.md-footer-inner-container {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.md-footer-copyright:after, .md-footer-copyright:before, .md-footer-link-container:after, .md-footer-link-container:before {
  display: table;
  content: " ";
}

.md-footer-link-container:after, .md-footer-link-container:before {
  clear: both;
}
.md-footer-link-container {
  margin-right: -15px;
  margin-left: -15px;
}

.md-footer-logo {
  width: 40%;
  float:left;
}

.md-footer-logo img {
  width: 100%;
  height: 48px;
  vertical-align: middle;
}

.md-footer-link-list {
  width: 30%;
  float: left;
}

.md-footer-social a, .md-footer-social a:hover {
  font-size: 60px;
  color: #626669;
  margin-right: 30px;
  text-decoration: none;
}

.footer-left .footer-social {
  display: flex;
  align-self: flex-end;
}

.md-footer-legal {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  overflow: auto;
}

.md-footer-legal-text {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #c2c2c2;
  line-height: 24px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.md-footer-legal-text a {
  color: var(--custom-green);
  text-decoration: none;
}

@media only screen and (min-width: 45em) {
  .md-footer-legal-text {
      max-width: 75%;
      float: left;
  }
}

@media screen and (max-width: 720px) {
  .md-footer-link-container {
    display: none;
  }
  .md-footer-copyright {
    width: unset;
  }
  .md-footer-legal {
    max-width: 80%;
    border-top: none;
  }
}

.md-footer-social {
  margin: 0;
}

@media only screen and (min-width: 45em) {
  .md-footer-social {
    margin-top: -15px;
    margin-right: 0.8rem;
    margin-bottom: 0px;
    margin-left: 0.8rem;
  }
}

.footer-nav {
  background-color: #e1e1e1;
  padding: 45px 0;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  list-style: none;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-top: 0px;
  padding: 0px 30px;
  font-size: 18px;
}

.footer-nav-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.footer-left {
  width: 25%;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-menu {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  }

.footer-nav-menu .footer-menu-item {
  padding: 0px 10px;
  }

.footer-nav-menu ul {
  padding-top: 20px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  }

.footer-nav-menu ul li {
  line-height: 45px;
  color: #63666a;
}

.footer-nav-menu .footer-menu-item .footer-menu-title {
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #63666a;
}


@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
  background-color: #fff;
}

  html .md-nav--primary .md-nav__title--site .md-nav__button {
    width: 13.4rem;
  }
}

@media only screen and (min-width: 76.25em) {
  .md-nav__toggle:checked ~ .md-nav, .md-nav[data-md-state="expand"] {
      /* fix deeply nested menu items overlapping */
      max-height: none;
  }
}

@media only screen and (max-width: 76.1875em) {
  .md-nav__source {
    background: linear-gradient(to right, #6cb33f 0%, #3a7391 100%);
  }
}

@media only screen and (min-width: 76.1875em) and (max-width: 80em) {
  .md-header-nav {
    padding: 0 3.4rem;
  }
  .md-nav__list {
    padding: 0 2.4rem;
  }
}

.md-tabs__item {
  padding-right: 0;
}

[data-md-toggle=search]:checked~.md-header .md-search__input {
  color: rgba(0,0,0,.87);
}

.md-search__input {
  position: relative;
  appearance: none;
  -webkit-appearance: none !important;
  background-color: rgba(255,255,255,0.25);
  outline: 1px solid #444;
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
  overflow: visible;
}

.md-search__icon {
  font-size: 20px;
  top: 9px !important;
  color: black !important;
  }

.md-search__input:hover {
  outline: 1px solid var(--custom-green);
}

@media only screen and (max-width: 76.1875em) {
  [data-md-toggle=search]:checked~.md-header .md-search__input {
    background-color: white;
  }
}

.marketing-text-button {
  color: rgba(255,255,255,.6);
  font-size:26px;
  opacity: 0.8;
  margin-right: 15px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.marketing-text-button:hover {
  color: #333;
  background-color: #FFF;
  border-left: 8px solid var(--custom-green);
}

.marketing-text a {
  color: white;
  text-decoration: none;
}

.marketing-text a:hover {
  color: white;
  text-decoration: underline;
}

.md-header-nav__title[data-md-state=active] .md-header-nav__topic+.md-header-nav__topic {
  margin-left: 2rem;
}

@media only screen and (max-width: 76.1875em) {
  .md-header-nav__title[data-md-state=active] .md-header-nav__topic+.md-header-nav__topic {
    margin-left: 0;
  }
}

.md-typeset .admonition.tip>.admonition-title:before, .md-typeset .admonition.tip>summary:before,
.md-typeset details.tip>.admonition-title:before, .md-typeset details.tip>summary:before {
  color: var(--custom-green);
}

.md-typeset .admonition.tip, .md-typeset details.tip {
  border-left-color: var(--custom-green);
}

.md-typeset .admonition.tip>.admonition-title, .md-typeset .admonition.tip>summary,
.md-typeset details.tip>.admonition-title, .md-typeset details.tip>summary {
  background-color: rgba(61,135,6,.1);
}

.md-typeset .admonition.warning>.admonition-title:before, .md-typeset .admonition.warning>summary:before,
.md-typeset details.warning>.admonition-title:before, .md-typeset details.warning>summary:before {
  color: var(--custom-green);
}

.md-typeset .admonition.warning, .md-typeset details.warning {
  border-left-color: var(--custom-green);
}

.md-typeset .admonition.warning>.admonition-title, .md-typeset .admonition.warning>summary,
.md-typeset details.warning>.admonition-title, .md-typeset details.warning>summary {
  background-color: rgba(248,152,29,.1);
}

.md-typeset .admonition>.admonition-title:before, .md-typeset .admonition>summary:before,
.md-typeset details>.admonition-title:before, .md-typeset details>summary:before {
  color: var(--custom-green);
}

.md-typeset .admonition, .md-typeset details {
  border-left-color: var(--custom-green);
}

.md-typeset .admonition>.admonition-title {
  background-color: #e1e1e1;
}

.md-typeset code {
  word-break: normal;
}

.accept-cookies {
  position: fixed;
  left: 50%;
  display: flex;
  bottom: 0px;
  z-index: 2900;
  transform: translate(-50%, 0px);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-family: Roboto, sans-serif; background-color: rgba(0, 0, 0, 0.87); padding: 0px 24px; height: auto; line-height: 48px; border-radius: 2px; min-width: 288px; width: auto; flex-grow: 0;
  font-size: 14px; color: rgb(255, 255, 255); opacity: 1; transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}

.cookiePopupText {
  position: relative; padding-left: 16px; padding-right: 16px; vertical-align: middle; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; font-size: 14px;
}

.cookieButton {
  border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none; margin: 6px -16px 0px 24px; padding: 0px; outline: none; font-size: inherit; font-weight: inherit; position: relative; z-index: 1; height: 36px; line-height: 36px; min-width: 88px; color: rgb(255, 64, 129); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; border-radius: 2px; user-select: none; overflow: hidden; background-color: transparent; text-align: center;
}

.tooltip,
.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip {
  --size: 8px;

  top: calc(100% + 12px);
  width: 170px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px var(--backgroundColor, #000);
  white-space: initial;
  border-radius: 2px;
  color: #000;
  padding: calc(var(--size) / 2) var(--size);
}

.tooltip::before,
.tooltip::after {
  content: '';
  z-index: 1;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--backgroundColor, #000);
}

.tooltip::after {
  z-index: 2;
  border-bottom-color: #fff;
  bottom: calc(100% - 1px);
}
