.dots {
  --timer: 1s;
  --delay: calc(var(--timer) * .4);
  --delay-coefficient: calc(var(--delay) * .25);

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.dots__dot {
  background-color: #fff;
  width: calc(80% / 7);
  animation: bounce var(--timer) alternate infinite;
  transform: scale(.3);
  flex-shrink: 0;
  animation-delay: var(--delay);
}

.dots__dot::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.dots__dot:nth-child(1) {
  animation-delay: calc(var(--delay) + (1 * var(--delay-coefficient)));
}
.dots__dot:nth-child(2) {
  animation-delay: calc(var(--delay) + (2 * var(--delay-coefficient)));
}
.dots__dot:nth-child(3) {
  animation-delay: calc(var(--delay) + (3 * var(--delay-coefficient)));
}
.dots__dot:nth-child(4) {
  animation-delay: calc(var(--delay) + (4 * var(--delay-coefficient)));
}
.dots__dot:nth-child(5) {
  animation-delay: calc(var(--delay) + (5 * var(--delay-coefficient)));
}
.dots__dot:nth-child(6) {
  animation-delay: calc(var(--delay) + (6 * var(--delay-coefficient)));
}
.dots__dot:nth-child(7) {
  animation-delay: calc(var(--delay) + (7 * var(--delay-coefficient)));
}

@keyframes bounce {
  0% {
    transform: scale(1);
    background-color: var(--custom-grey, grey);
  }
}

.title__version {
  font-weight: bold;
  display: block;
}

.title__release-date {
  font-style: italic;
  display: block;
}

.changes {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.changes__circle {
  --size: 24px;
  --backgroundColor: #000;

  position: relative;
  cursor: pointer;
  background-color: var(--backgroundColor);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  text-align: center;
  line-height: var(--size);
  border-radius: 50%;
  color: #fff;
  font-size: .8em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.changes__circle:hover .changes__circle-tooltip {
  opacity: 1;
  visibility: visible;
}

.changes__circle-tooltip,
.changes__circle-tooltip::before,
.changes__circle-tooltip::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.changes__circle-tooltip {
  --size: 8px;

  top: calc(100% + 12px);
  width: 80px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px var(--backgroundColor);
  white-space: initial;
  border-radius: 2px;
  color: #000;
  padding: calc(var(--size) / 2) var(--size);
}

.changes__circle-tooltip::before,
.changes__circle-tooltip::after {
  content: '';
  z-index: 1;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--backgroundColor);
}

.changes__circle-tooltip::after {
  z-index: 2;
  border-bottom-color: #fff;
  bottom: calc(100% - 1px);
}

.changes__circle--added {
  --backgroundColor: var(--custom-green, green);
}

.changes__circle--updated {
  --backgroundColor: orange;
}

.changes__circle--removed {
  --backgroundColor: var(--custom-grey, grey);
}

.changes__circle--deprecated {
  --backgroundColor: red;
}
