@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


#leave-feedback {
  margin-top: 8px;
}

#starbox {
  margin-top: -3px;
}

#stars {
  display: block;
  width: 125px;
}

#submitform {
  border-radius: 4px;
  display: none;
  -webkit-animation: fadeIn 1 s;
  animation: fadeIn 1 s;
  position: absolute;
  align-content: right;
  width: 328px;
  right: 0;
  text-align: center;
  background: white;
  border: 1px solid rgba(131, 131, 131, 0.555);
  z-index: 1;
}

#margin-starbox {
  margin-right: 20px;
}




/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

x-star-rating {
  font-family: FontAwesome;
  font-size: 28px;
  display: inline-flex;
  cursor: pointer;
  content: "★";
}

x-star-rating>.star::after {
  content: "★";
  color: rgb(150, 150, 150);
}

x-star-rating>.star.full::after {
  content: "★";
  color: #fd0;
}

textarea {
  margin-top: 5px;
  width: 97%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 2px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
  height: 100px;
}



button[type=submit] {
  background-color: #009845;
  color: white;
  padding: 3px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-bottom: 4px;
  margin-right: 7px;
  font-size: 15px;
}




button[type=submit]:hover {
  background-color: #006937;
}

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
